.content {
display: flex;
flex-direction: column;
min-width: 400px;
}

.welcomeHeader{
    color: white;
}

.input {
background-color: #829CBC;
color: white;
border-radius: 6px;
padding: 0 6px;
margin: 10px;
}

.buttonWrapper {
    display: flex;
    align-self: flex-end;
    margin: 5px 10px;
    height: 32px;
}